*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: family;
}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
}

@font-face {
    font-family: family;
    src: url(fonts/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2);
}

.whole{
    width: 100%;
}

.fixed-head{
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 5;
    border-bottom: 3px solid rgb(248, 242, 242);
}
.search-field{
    width: 100%;
}

.search-bar{
    display: grid;
    border: 0.5px solid rgba(0 0 0 / 0.08);
    background: white;
    margin-top: 14px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
    border-radius: 9999px;
    color: #222222;
    min-height: 56px;
}

.searchbar-button{
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    align-items: center;
    border: none;
    background: transparent;
    grid-template-columns: 42px minmax(0,1fr);
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: inline-grid;
}

.smallsearch{
    display: grid;
    place-items: center;
}

.smallsearch img{
    width: 20px;
    height: 20px;
}

.searchbar-def{
    padding-left: 2px;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
}

.searchbar-def-part1{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.searchbar-def-part2{
    padding-inline-end: 24px;
    line-height: 1rem;
    font-size: 0.75rem;
    color: #6a6a6a;
    display: flex;
    gap: 5px;
}

.searchbar-def-part2 span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 50px;
    flex: 0 1 auto;  
}

.item-field{
    width: 100%;
}

.item-field-inner{
    grid-template-columns: 100%;
    display: grid;
    max-height: 74px;

}

.item-field-inner-in{
    min-width: 0;
    width: 100%;
    height: 74px;
}

.item-grid{
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    grid-auto-flow: column;
    justify-content: flex-start;
    display: grid;
    grid-auto-columns: max-content;
    overflow-y: scroll;
    gap: 30px;
}

.item-grid label{
    text-align: center;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 4px 0;
    margin: 12px 0 10px;
    border: unset;
    width: max-content;
}

.item-flex{
    display: flex;
    flex-direction: row;

}

.item-flex-inner{
    align-items: center;
    grid-template-areas: 'icon space'
                         'title space';
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    display: grid;
    gap: 4px;
    min-width: 44px;
    color: #6a6a6a;
}

.item-flex-inner img{
    justify-self: center;
    max-width: 100%;
    height: auto;
    width: 24px;
    vertical-align: middle;
    grid-area: icon;
    opacity: 0.674;
}

.item-def{
    justify-self: center;
    position: relative;
    white-space: nowrap;
    grid-area: title;
}

.itemdef-in{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
}

::-webkit-scrollbar{
    display: none;
}

.blackline{
    height: 2px;
    width: 30px;
    margin-top: 12px;
    background: black;
}

main{
    width: 100%;
}

.main-div{
    margin-top: 147px;
    width: 100%;
    padding: 24px;
    padding-top: 21px;
    padding-bottom: 55px;
}

.main-grid{
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 40px;
}

.main-grid-elem{
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-elem-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-div{
    width: 100%;
    height: 100%;
    display: grid;
    aspect-ratio: 20/19;
    position: relative;
}

.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    border-radius: 12px;
    
}

.txt-div{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis

}
    
.text-div-first{
    color: black;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-div-second{
    color: rgb(106, 106, 106);
    font-size: 15px;
    line-height: 19px;
}

.text-div-third{
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
}

.text-div-third span{
    color: black;
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
}

.past-experince{
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 500;
    margin-top: 52px;
    margin-bottom: 24px;
    letter-spacing: -0.64px;
}

.dot-div{
    bottom: 12px;
    position: absolute;
    width: 100%;
}

.five-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.five-dots div{
    border-radius: 50%;
}

.dot-part1{
    width: 6px;
    height: 6px;
    background: white;
}

.dot-part2{
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.692);
}
.dot-part3{
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.582);
    margin-right: 1px;
}

.dot-part4{
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.562);
}

.upload{
    position: absolute;
    width: 100%;
    margin-top: 12px;
}

.upload-inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#firstlive{
    justify-content: space-between;
}

.live-button{
    background: rgba(255, 255, 255, 0.767);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 6px 16px;
    border-radius: 25px;
    margin-left: 12px;
}

.upload-button img{
    height: 16px;
    width: 16px;
}

.upload-button{
    background: rgba(255, 255, 255, 0.767);
    display: grid;
    border-radius: 50%;
    padding: 8px;
    margin-right: 12px;
}

footer{
    width: 100%;
    background: rgb(247, 247, 247);
}

.footer-inner{
    width: 100%;
    padding: 48px 24px;
    padding-bottom: 67px;
}

.footerhead{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.22px;
    line-height: 26px;
}

.table-list{
    width: 100%;
    padding-top: 12px;
}

.table-list-in{
    margin-left: -12px;
    margin-right: -12px;
    overflow-y: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.inner-table{
    overflow-y: visible;
    text-wrap: nowrap;
    display: flex;
    column-gap: 6px;
    border-bottom: 1px solid rgb(226, 219, 219);
}

.table-item{
    padding: 10px;
    color: rgb(106, 106, 106);
    padding-bottom: 15px;
}

.table-item span{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}

.inner-table div:first-child{
    color: black;
    margin-left: -10px;
}

.black{
    height: 2px;
    width: 50px;
    background: black;
    margin-top: 13px;
    position: absolute;
}

.footer-arrow{
    position: absolute;
    right: 12px;
    margin-top: -33px;
    background: transparent;
    background-image: linear-gradient(to right, transparent,rgb(247, 247, 247),rgb(247, 247, 247));
    padding-bottom: 30px;
}

.footer-arrow img{
    width: 16px;
    height: 16px;
    margin-left: 20px;
}

.popular-group{
    width: 100%;

}

.popular-group-inner{
    padding-top: 32px;

}

.popular-items{
    display: grid;
    column-gap: 8px;
    row-gap: 24px;
    list-style-type: none;
    grid-template-columns: repeat(2,1fr);

}

.popular-items li div{
    line-height: 1.125rem;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.popular-bold{
    font-weight: 500;
    overflow: hidden;
    color: black;
    white-space: nowrap;

}

.popular-normal{
    overflow: hidden;
    color: #6a6a6a;
    font-weight: 400;
}
.popular-bold img{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-left: 1px;
}

.support-section{
    width: calc(100% + 48px);
    border-top: 1px solid #dddddd;
    margin-left: -24px;
    margin-top: 48px;
}

.support-inner{
    width: 100%;
    padding: 24px;
}

.support-header{
    margin-bottom: 11px;
    line-height: 1.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #222222;
}
.support-items{
    display: grid;
    gap: 11px;
    list-style: none;
    
}

#support-elem{
    font-weight: 400;
    line-height: 1.125rem;
    font-size: 0.875rem;
}

.hosting-sec{
    width: 100%;
    padding: 24px;
    padding-top: 0;
}

.for-border{
    border-top: 1px solid #dddddd;
    padding-top: 24px;
}

.airbnb-sec{
    width: 100%;
    padding: 24px;
    padding-top: 0;
}

.footers-foot{
    width: 100%;
    border-top: 1px solid #dddddd;
    padding: 24px 0px;
}
.foot-1{
    margin-bottom: 22px;

}

.foot-1-inner{
    display: flex;
    align-items: center;
    gap: 25px;
}

.english img{
    margin-bottom: -2px;
    margin-right: 4px;
}

.english span{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-wrap: nowrap;
    word-spacing: 0px;
}

.indianruppee{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-wrap: nowrap;
    word-spacing: 0px;
}

.indianruppee span:first-child{
    font-size: 16px;
    margin-right: 2px;
}

.copy-right{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(34, 34, 34);
    display: inline-block;
    margin-bottom: 2px;
}

.other-details span{
    margin-top: 2px;
    line-height: 1.625rem;
    display: inline-block;
}

.other-details span ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}

.other-details span ul li{
    display: flex;
}

#otherdetails-item{
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 0.875rem;
}

#req-dot{
    width: 19px;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    border-top: 1px solid #EBEBEB;
    position: fixed;
    bottom: -60px;
    height: 125px;
    left: 0px;
    right: 0px;
    padding-bottom: 60px;
    background: white;
    z-index: 2;
}

.nav-inner{
    display: flex;
    justify-content: center;
    max-width: 560px;
    flex: 1 0 auto;
    align-items: flex-start;
    margin-bottom: 2px;
}

.nav-inner div{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    background-color: transparent;
    text-align: center;
    max-width: 20%;
    overflow-wrap: break-word;
    padding: 0 2px;
}

.icon-div{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    position: relative;
    margin-bottom: 5px;
}

.icon-div img{
    height: 24px;
    width: 24px;
}

.icon-def{
    line-height: 0.75rem;
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.625rem;
    white-space: nowrap;
    margin-bottom: -5px;
}
#wish-listid{
    color: #e81948;
    font-weight: 500;
}


.desk-1-header{
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: 2520px;
}

.logo-field{
    flex: 0 0 auto;
}


.logo-field-inner{
    align-items: center;
    position: relative;
    display: inline-flex;
    z-index: 1;
    vertical-align: middle;
    color: #FF385C;
    height: 80px;
}
.first-logo{
    display: block;
}

.first-logo img{
    width: 30px;
    height: 32px;
}

.second-logo{
    display: none;
}

.second-logo img{
    width: 102px;
    height: 32px;
}

.head-space-div{
    padding: 0 24px;
    flex: 0 1 auto;
    min-width: 348px;
}

.head-space-div-inner{
    padding-right: 40px;
    padding-left: 40px;
    left: 0;
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 64px;

}

.big-search-field{
    padding-bottom: 16px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 850px;
}
.big-search-field-part1{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80px;
}
.stays-field{
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 0;

}

.stays-in{
    margin: 10px 12px;
    position: relative;
}

.stays-in span{
   display: inline-flex;
   line-height: 1.5rem;
   font-size: 1rem;
    color: #222222;
    font-weight: 500;
}

.exp-field{
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 0;
}

.exp-in{
    margin: 10px 12px;
    position: relative;
}

.exp-in span{
    color: #6a6a6a;
}

.big-search-field-part2{
    background-color: white;
    border-radius: 32px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 13px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    width: 100%;
    display: flex;
    color: #222222;
    height: 66px;
}

.big-search-area{
    align-items: center;
    display: flex;
    height: 100%;
    min-width: 0;
    flex: 1 1 0%;
}

.search-area-1{
    min-width: 0;
    flex: 1 0 0%;
}

.search-area-1-inner{
    align-items: center;
    margin: -1px;
    position: relative;
    display: flex;
    min-width: 0;
}

.search-area-1-inner-span{
    border-radius: 32px;
    border: 1px solid transparent;
    padding: 14px 32px;
    min-width: 0;
    flex: 1 0 0%;
    position: relative;
    z-index: 1;
}

.top-def{
    padding-bottom: 2px;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.bot-def{
    line-height: 1.125rem;
    font-size: 0.875rem;
    
    border: 0;
    background: none;
    width: 100%;
}
.search-area-2{
    border-right: 1px solid #DDDDDD;
    align-self: center;
    height: 32px;
    flex: 0 0 0;
}

.search-area-3{
    display: flex;
    min-width: 0;
    flex: 1 0 0%;
}

.search-area-4{
    border-right: 1px solid #DDDDDD;
    align-self: center;
    height: 32px;
    flex: 0 0 0;
}
.search-area-5{
    display: flex;
    flex: 1 0 0%;
}
.settings-field{
    display: inline-flex;
    line-height: 1.5rem;
    font-size: 1rem;
    flex: 1 0 auto;
    font-weight: 400;
}

@media (min-width: 375px) {
    .search-bar{
        margin-left: 24px;
        margin-right: 24px;
    }
    .searchbar-button{
        padding-inline-start: 9px;
    }
    .searchbar-def{
        padding-left: 7px;
    }
}
@media (min-width: 550px) {
    .main-grid{
        grid-template-columns: repeat(2,1fr);
        column-gap: 24px;
    }
}

@media (max-width: 743px){
    .desk-1-header{
        display: none;
    }
}
@media (min-width: 744px){
    .search-field{
        display: none;
    }
    .item-field{
        display: none;
    }
}

